
*{
  box-sizing: border-box;
  text-decoration: none;
  color:white;
  display: block;
 
}
.row::after {
  content: "";
  clear: both;
  color:white;
 
}

[class*="col-"] {
  float: left;
  padding: 10px;

}

.right{float:right;
width: 100%;
height: auto;
}
.left{float:left;
    width: 100%;
    height: auto;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #000000;
  color: #ffffff;
  padding: 30px 60px;

}


.menu ul {
  list-style-type: none;
  color:white;
  margin: 0;
  padding: 0;

}

.menu li {
    padding: 40px 30px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    box-shadow: 0 9px #999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {background-color: #3e8e41;

}
.menu li:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    display: block;
}
.aside {
  background-color: #683030;
  padding: 40px 30px;
  color: #ffffff;
  text-align: left;
  font-size: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 30%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 815px) {
  [class="col-"] {
    text-decoration: none;
    width: 100%;
  }
}
